
* {
       -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
body{
    align-content: center;
    background-image: url(img/fondo.jpg);
    background-size: cover;
  background-repeat:no-repeat;
  background-position: center center;
    
}
h1{
    color: blueviolet;
}

.divClass {
    color: brown;
    align-content: center;
    text-align: center;
    border: solid;
   }
   #spanId{
    font-size: 18px;
    margin: 50px;
    color:blue;        
   }
   
   img{
    width: 400px;  
   }
   #thirdDiv {
    margin: auto;
    width: 500;
    height: 600;
    border: solid;
    border-width: 18px;
    border-color: black;
    padding: 50px;
    background: blueviolet;
   }   